* {
  font-family: "Inter";
  color: #000000;
}
h2 {
  text-decoration-line: underline;
  color: #000000;
}
a {
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  text-decoration-line: underline;
}
